<div class="container">
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> New user's details added successfully
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <legend>Create User Field</legend>
<form [formGroup]="addUser"  (ngSubmit)="saveData()" >
    <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" class="form-control" id="txtName" aria-describedby="emailHelp" name="name"  formControlName="name" />
        <span style="color: red;" *ngIf="nameVal && nameVal.invalid && nameVal.touched">This field is not valid</span>

    </div>
    <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input type="text" class="form-control" id="txtEmail" aria-describedby="emailHelp" name="email" formControlName="email" />
        <span style="color: red;" *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched">This field is not valid</span>
    </div>
    <div class="mb-3">
        <label for="txtGender" class="form-label">Gender</label>
        <input type="text" class="form-control" id="txtGender" aria-describedby="emailHelp" name="gender" formControlName="gender" />
        <span style="color: red;" *ngIf="gendVal && gendVal.invalid && gendVal.touched">This field is not valid</span>

    </div>
    <div class="mb-3">
        <label for="txtProfile" class="form-label">Profile</label>
        <input type="text" class="form-control" id="txtProfile" aria-describedby="emailHelp" name="profile" formControlName="profile" />
        <span style="color: red;" *ngIf="profilVal && profilVal.invalid && profilVal.touched">This field is not valid</span>

    </div>
    <button class="btn btn-success" [disabled]="addUser.invalid">Add Details</button>
</form>
</div>
<router-outlet></router-outlet>
